*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

/* стили для мобильной версии */

.page {
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.header {
  padding: 10% 7.5% 0;
}

.header__socials-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials-icon {
  width: 16px;
  height: 16px;
}

.header__socials-list-item:first-child {
  margin-right: auto;
}

.section:not(:first-child, .gallery),
.footer {
  padding: 15% 7.5%;
}

.section:nth-child(odd),
.header,
.footer {
  background-color: #1b2944;
}

.section:nth-child(even) {
  background-color: #141f35;
}

.who-i-am {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12% 7.5% 15%;
  text-align: center;
}

.who-i-am__avatar {
  display: block;
  width: 110px;
  height: 110px;
  border: 5px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.who-i-am__title {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.who-i-am__profession {
  color: #ffbb01;
  font-weight: 400;
  font-size: 16px;
}

.ordinary-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
}

.who-i-am__ordinary-text {
  margin: 0 0 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45;
}

.free-consultation-button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 15px 0;
  box-shadow: 0px 4px 0px 0px #b68500;
  color: #1b2944;
  font-family: inherit;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffbb01;
}

.free-consultation-button:hover {
  background-color: #fce3a0;
}

.free-consultation-button:active {
  color: #fce3a0;
  background-color: #2b426e;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
}

.section__title {
  padding-bottom: 34px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2;
}

.small-title {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
}

.benefits__list-item {
  position: relative;
  padding-left: 48px;
}

.benefits__list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.benefits__list-item:nth-child(1)::before {
  background-image: url(../images/offer-img.svg);
}

.benefits__list-item:nth-child(2)::before {
  background-image: url(../images/deadline-img.svg);
}

.benefits__list-item:nth-child(3)::before {
  background-image: url(../images/agreement-img.svg);
}

.benefits__list-item:nth-child(4)::before {
  background-image: url(../images/steps-img.svg);
}

.benefits__list-item:nth-child(5)::before {
  background-image: url(../images/storage-img.svg);
}

.benefits__list-item:nth-child(6)::before {
  background-image: url(../images/conversation-img.svg);
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.portfolio__list-item {
  height: 166px;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 16px;
  background-size: cover;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(
    180.29deg,
    rgba(206, 206, 206, 0) 0.25%,
    #213e60 99.75%
  );
}

.card_type_chamarel {
  background-image: url(../images/card1.jpg);
}

.card_type_golf {
  background-image: url(../images/card2.jpg);
}

.card_type_hiking {
  background-image: url(../images/card3.jpg);
}

.card__title {
  max-width: 152px;
  margin-top: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  text-align: left;
}

.read-more-button {
  width: 114px;
  height: 32px;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  box-shadow: 0px 2px 0px 0px #ce1c3e;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  background-color: #ec1f46;
}

.read-more-button:hover {
  background-color: #f198a8;
}

.read-more-button:active {
  color: #fff;
  background-color: #1b2944;
}

.gallery {
  padding: 32px 24px;
}

.gallery__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: scroll;
}

.gallery__list::-webkit-scrollbar {
  height: 4px;
  margin-top: 30px;
}

.gallery__list::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #cecece;
}

.gallery__list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ffbb01;
  cursor: pointer;
}

.gallery__list-item {
  flex-shrink: 0;
  width: 129px;
  height: 129px;
  margin-bottom: 15px;
}

.gallery__foto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer__title {
  text-align: center;
}

.contacts-form {
  margin-bottom: 48px;
  border-radius: 6px;
  padding: 30px 18px 42px;
  box-shadow: -4px 4px 0px 0px #ffc41d;
  background-color: #fff;
}

.contacts-form__pseudolabel {
  padding-bottom: 32px;
  color: #000;
  font-family: inherit;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.contacts-form__input {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0px 3px 10px 0px #c7c7c740 inset;
  background: #f8f8f8;
  background-color: #f8f8f8;
}

.contacts-form__input::placeholder {
  content: attr(placeholder);
  padding-left: 30px;
  color: #949494;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.contacts-form__input:focus-visible {
  outline: 2px solid #ffbb01;
}

.contacts-form__input_type_name::placeholder {
  background-image: url(../images/user-icon.svg);
}

.contacts-form__input_type_phone::placeholder {
  background-image: url(../images/phone-icon.svg);
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__address-link-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__address-link {
  display: block;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.2;
  text-align: left;
  text-decoration-line: none;
}

.footer__socials-list {
  display: flex;
  gap: 8px;
  padding: 24px 0 14px;
}

.privacy-policy-link {
  color: #949494;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  text-decoration-skip-ink: none;
}

/* начинаются стили для десктопной версии */

@media (width >= 640px) {
  .page {
    width: 1280px;
    min-width: 640px;
  }
  .section:not(:first-child),
  .footer {
    padding: 6.9% 13.1%;
  }

  .header {
    padding: 3.1% 13.1% 0;
  }

  .header__socials-list {
    gap: 16px;
  }

  .socials-icon {
    width: 20px;
    height: 20px;
  }

  .who-i-am {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 96px;
    padding: 100px 168px;
    text-align: left;
  }

  .who-i-am__avatar {
    width: 384px;
    height: 384px;
    border: 10px solid #fff;
  }

  .who-i-am__title {
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 50px;
  }

  .who-i-am__profession {
    font-size: 24px;
  }

  .who-i-am__ordinary-text {
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 1.75;
  }

  .free-consultation-button {
    padding: 25px;
    font-size: 12px;
    cursor: pointer;
  }

  .who-i-am__free-consultation-button {
    width: 300px;
  }

  .benefits__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 72px;
    column-gap: 16px;
  }

  .benefits__list-item {
    flex-grow: 1;
    flex-basis: 304px;
  }

  .benefits__list-item {
    position: relative;
    padding: 72px 0 0 0;
  }

  .benefits__list-item::before {
    width: 52px;
    height: 52px;
  }

  .section__title {
    padding-bottom: 48px;
    font-size: 36px;
  }

  .small-title {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.2;
  }

  .ordinary-text {
    font-size: 16px;
    line-height: 1.75;
  }

  .portfolio__list {
    flex-direction: row;
    gap: 16px;
  }

  .portfolio__list-item {
    flex-grow: 1;
    flex-basis: 304px;
    min-height: 304px;
  }

  .card {
    padding: 32px;
  }

  .card__title {
    max-width: 172px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
  }

  .read-more-button {
    width: 120px;
    height: 36px;
    padding: 10px 16px;
    cursor: pointer;
  }

  .gallery__list {
    flex-wrap: wrap;
    gap: 16px;
    overflow: visible;
  }

  .gallery__list-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 224px;
    min-height: 224px;
    margin-bottom: 0;
  }

  .footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'footer__title footer__title'
      'contacts-form footer__contacts-list'
      'contacts-form footer__socials-list'
      'contacts-form privacy-policy-link';
    column-gap: 96px;
  }

  .footer__title {
    grid-area: footer__title;
    text-align: left;
  }

  .contacts-form {
    grid-area: contacts-form;
    width: 464px;
    margin-bottom: 0px;
    padding: 40px 34px;
  }

  .contacts-form__pseudolabel {
    font-size: 18px;
    line-height: 28px;
  }

  .contacts-form__input {
    padding: 28px 32px;
  }

  .footer__contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: footer__contacts-list;
    row-gap: 0;
    column-gap: 120px;
  }

  .footer__socials-list {
    grid-area: footer__socials-list;
    gap: 16px;
    padding: 0;
  }

  .footer__address-link {
    display: block;
    font-size: 16px;
  }

  .footer__address-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 56px;
  }

  .privacy-policy-link {
    display: block;
    grid-area: privacy-policy-link;
    align-self: flex-end;
  }
}
